.contactContainer {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 10px;
}

.contactEl {
  display: flex;
  align-items: center;
  gap: 10px;
  padding: 5px;
  background-color: rgb(255, 255, 255);
  border-radius: 8px;
}

.contactName {
  font-weight: bold;
}

.contactBtn {
  background-color: #cc2828;
  color: white;
  border: none;
  padding: 5px 10px;
  border-radius: 4px;
  cursor: pointer;
}

.contactBtn:hover {
  background-color: #d33c39;
}
